window.addEventListener('load', (event) => {
  document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');

  if (window.GOVUKFrontend) {
    window.GOVUKFrontend.initAll();
  if(document.querySelector('#current-species-caught')) {
    accessibleAutocomplete.enhanceSelectElement({
      selectElement: document.querySelector('#current-species-caught'),
      confirmOnBlur: false,
      classes: "{% if model.currentSpeciesCaughtError %} govuk-form-group--error {% endif %}",
      defaultValue: "",
      showAllValues: true
    })
  }

  }

});
