{% extends "_base.njk" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block content %}

	{% if model.missingConfirmValue or model.apiError %}
		{{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
          text: "You must confirm the information you've provided is up-to-date and correct and you agree with the privacy policy",
          href: "#confirm"
        } if model.missingConfirmValue,
        {
          text: "An error occurred while submitting your return, try again",
          href: "#"
        } if model.apiError
      ]
    }) }}
	{% endif %}

	<h1 class="govuk-heading-xl">Check your answers before sending</h1>

	<div class="govuk-grid-row">

		<p class="govuk-body">This return is for</p>

		<p class="govuk-body">Reference number NS-TRP-{{model.loggedInRegNo}}</p>

		<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

		<p class="govuk-body">
			<strong>Activity reported</strong>
		</p>

		{{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Year"
          },
          value: {
            text: model.year
          },
          actions: {
            items: [
              {
                href: pathPrefix + "/year",
                text: "Change",
                visuallyHiddenText: "Year"
              }
            ]
          }
        },
        {
          key: {
            text: "Meat baits used"
          },
          value: {
            text: 'Yes' if model.meatBaitsUsed === true else 'No'
          },
          actions: {
            items: [
              {
                href: pathPrefix + "/meat-baits-in-traps",
                text: "Change",
                visuallyHiddenText: "Meat baits in traps"
              }
            ]
          }
        },
        {
          key: {
            text: "Larsen mate"
          },
          value: {
            text: model.numberLarsenMateCaught
          },
          actions: {
            items: [
              {
                href: pathPrefix + "/how-many-traps-used",
                text: "Change",
                visuallyHiddenText: "How many traps used"
              }
            ]
          }
        },
        {
          key: {
            text: "Larsen pod"
          },
          value: {
            text: model.numberLarsenPodCaught
          },
          actions: {
            items: [
              {
                href: pathPrefix + "/how-many-traps-used",
                text: "Change",
                visuallyHiddenText: "How many traps used"
              }
            ]
          }
        },
        {
          key: {
            text: "Non-target species to report"
          },
          value: {
            text: 'No' if model.targetSpecies === false else 'Yes'
          },
          actions: {
            items: [
              {
                href: pathPrefix + "/target-species",
                text: "Change",
                visuallyHiddenText: "Target species"
              }
            ]
          }
        },
        {
          key: {
            text: "Non-target species caught"
          },
          value: {
            html: model.detailsListTable
          },
          actions: {
            items: [
              {
                href: pathPrefix + "/details-list",
                text: "Change",
                visuallyHiddenText: "Details list"
              }
            ]
          }
        }
      ]
    }) }}

		<form method="post">

			<p class="govuk-body">
				<strong>Declaration</strong>
			</p>

			<p class="govuk-body">
				<strong>I confirm that:</strong>
			</p>

			<ul class="govuk-list govuk-list--bullet">
				<strong>
					<li>The information I've provided is correct</li>
				</strong>
				<strong>
					<li>
              I agree with the
              <a class="govuk-" rel="noreferrer noopener" target="_blank" href="/cross-service-pages/privacy-policy">
              privacy policy&nbsp;(opens in new tab)
              </a>
              of this service
            </li>
				</strong>
			</ul>

			{{ govukCheckboxes({
        idPrefix: "confirm",
        name: "confirm",
        errorMessage: {
          text: "You must confirm the information you've provided is up-to-date and correct and you agree with the privacy policy"
        } if model.missingConfirmValue,
        items: [
          {
            value: "confirm",
            text: "Yes, I confirm",
            checked: confirmDeclaration === true
          }
        ]
      }) }}

			{{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-top-2  govuk-!-margin-bottom-8 naturescot-forward-button",
        isStartButton: false
      }) }}

		</form>
	</div>

{% endblock %}