{% extends "_base.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block content %}
    {{ govukPanel({
        titleText: "Trap Return complete",
        html: "Thank you for completing your trap return.<br>"
      }) }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">
        Thank you for informing us that you did not use any meat bait traps this year.
      </p>

    </div>
  </div>

{% endblock %}
