{% extends "_base.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block content %}
  {% if model.postcodeError %}
    {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [{
          text: "Enter your postcode",
          href: "#postcode-error"
        }]
      }) }}
  {% endif %}

  <form method="post">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {{ govukInput({
      id: "postcode",
      name: "postcode",
      value: model.postcode,
      label: {
      text: "What is your postcode?",
      classes: "govuk-label--l",
      isPageHeading: true
      },
      hint: {
      text: "This should be the postcode you used to register"
      },
      errorMessage: {
      text: "Enter your postcode"
      }if model.postcodeError,
      classes: "govuk-input--width-10",
      spellcheck: false,
      autocomplete: "postal-code"
}) }}
        {{ govukButton({
              text: "Continue",
              classes: "naturescot-forward-button"
            }) }}
      </form>
    </div>
  </div>

{% endblock %}
