{% extends "_base.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  <h1 class="govuk-heading-xl">
    Trap Registration - Meat Bait Return
  </h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">
        If you have registered to use meat baits in:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>a Larsen mate trap</li>
        <li>a Larsen pod trap</li>
      </ul>
      <p class="govuk-body">
        Under NatureScot's General licences:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a class="govuk-link" href="https://gateway.snh.gov.uk/go/?id=18">GL01
           - To kill or take certain birds for the conservation of wild birds</a>
        </li>
        <li>
          <a class="govuk-link" href="https://gateway.snh.gov.uk/go/?id=19">GL02
           - To kill or take certain birds for the prevention of serious damage</a>
        </li>
      </ul>
      <p class="govuk-body">
        Please use this service to provide your annual licence return.
      </p>
      <p class="govuk-body">
        Providing your return takes around 5 minutes.
      </p>
      {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

      {{ govukWarningText({
         text: "If you have registered to use meat baits you must submit an annual return,
         even if you have not caught any non-target species or used meat baits in your traps this year",
         iconFallbackText: "Warning"
      }) }}
      <form method="post">
        {{ govukButton({
          text: "Start now",
          classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8 naturescot-forward-button",
          isStartButton: true
        }) }}
      </form>
      <p class="govuk-body">
        If you need assistance with this service, contact the NatureScot Licensing Team.
      </p>

      <h3 class="govuk-heading-s">
        Email
      </h3>

      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="mailto:licensing@nature.scot">
            licensing@nature.scot
          </a>
        </li>
        <li>
          We aim to respond within 2 working days.
        </li>
      </ul>

      <h3 class="govuk-heading-s">
        Telephone
      </h3>

      <ul class="govuk-list">
        <li>
          01463 725 364
        </li>
        <li>
          Voicemail service. We aim to respond within 2 working days.
        </li>
      </ul>

      <p class="govuk-body">
        <a class="govuk-link" href="https://www.gov.uk/call-charges">
          Find out about call charges
        </a>
      </p>

    </div>
  </div>

{% endblock %}
