{% extends "_base.njk" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% block content %}
  {{ govukPanel({
        titleText: "You have submitted a return"
      }) }}
{% endblock %}
