{% extends "_base.njk" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% block content %}
  {{ govukPanel({
        titleText: "Trap Return complete",
        html: "Thanks for completing your trap return.<br>"
      }) }}
  <p class="govuk-body">We have sent you a confirmation email.</p>
  <p class="govuk-body">
          Email:<br>
    <strong class="govuk-!-font-weight-bold">
      <a class="govuk-link" href="mailto:licencing@nature.scot">licencing@nature.scot</a>
    </strong>
  </p>

  <p class="govuk-body">
    <a class="govuk-link" href="http://gateway.snh.gov.uk/go/?id=40">
      What do you think of this service?
    </a>
    (takes 30 seconds)
  </p>
{% endblock %}
