{% extends "_base.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  <h1 class="govuk-heading-xl">
    Trap Usage
  </h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">
        Did you use meat baits in your traps?
      </p>
      <form method="post">
        {{ govukButton({
              text: "Continue",
              classes: "naturescot-forward-button"
            }) }}
      </form>
    </div>
  </div>

{% endblock %}