{% extends "_base.njk" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% block content %}

  {{ govukPanel({
    titleText: "You have requested a secure link to continue your return",
    html: "Check your mail<br>"
  }) }}

  <h1 class="govuk-heading-m">What happens next</h1>

  <p class="govuk-body">We've sent you an email with a secure link that allows you to continue.</p>

  {{ govukWarningText({
    text: "The secure link will expire after 30 minutes.",
    iconFallbackText: "Warning"
  }) }}

  <p  class="govuk-body">
    If you don't receive an email you may have entered your details incorrectly.
    Try again and if the problem persits contact the licensing team.
  </p>

  <h2 class="govuk-heading-s">Email<h2>
  <p class="govuk-body"><a class="govuk-link" href="mailto:licensing@nature.scot"> licensing@nature.scot</a></p>
  <p class="govuk-body">We aim to respond within 2 working days.</p>

  <h2 class="govuk-heading-s">Telephone<h2>
  <p class="govuk-body">01463 725 364</p>
  <p class="govuk-body">Voicemail service. We aim to respond within 2 working days.</p>

  <p class="govuk-body"><a class="govuk-link" href="https://www.gov.uk/call-charges" target="_blank">Find out about call charges</a></p>

{% endblock %}
