{% extends "_base.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  <h1 class="govuk-heading-xl">
    What year is your return for?
  </h1>
  <div class="govuk-grid-row">


      <form method="post">
        {{ govukButton({
          text: "Continue",
          classes: "govuk-!-margin-top-2  govuk-!-margin-bottom-8 naturescot-forward-button",
          isStartButton: true
        }) }}
      </form>

  </div>

{% endblock %}
